* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 100%; /* Change this to 100% */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
}

main {
    padding: 40px;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.anime-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
    flex-grow: 1;
}

.anime-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.anime-info {
    padding: 20px;
    text-align: center;
}

.anime-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.anime-info p {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.anime-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#out {
    position: absolute; 
    bottom: 0;       
    left: 20px;        
    width: auto;       
    padding: 10px 20px; 
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#out:hover {
    background-color: rgb(120, 26, 26);
    color: white;
    transition: .2s ease-in-out;
    transition-delay: .2s;
}

.anime-favorite {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0; 
}