/* Background Video */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* fallback background color */
}

.kotak-login {
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 1;
    /* Ensures login form is above the video */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    width: 150%;
    /* Set width lebih besar dari container */
    position: relative;
    left: -25%;
    /* Menggeser input ke kiri untuk mengimbangi peningkatan ukuran */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

input {
    width: 100%;
    /* Agar input memenuhi area dari input-group */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensures padding doesn't overflow the container */
}

button {
    width: 100%;
    /* Full width untuk button */
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: steelblue;
    color: black;
    transition: .2s ease-in-out;
    transition-delay: .2s;
    border-radius: 30px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    display: none;
}